<?xml version="1.0"?>

<detectorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:noNamespaceSchemaLocation="./DetectorConfig.xsd">

  <survey> ./survey.xml   </survey>
  <tdcmap> ./tdcmap.xml </tdcmap>
  <channelStatusMap> ./channelstatus.xml  </channelStatusMap>

</detectorConfig>

